/*登录表格样式*/

#C-URS-LOGIN .curs-lg-inbd {
    background: #fff none repeat scroll 0 0;
    margin: 100px auto;
}

.curs-login .curs-lg-bd, .curs-login .uc-tlt, .curs-login .curs-m-bd, .curs-login .curs-m-form, .curs-login .curs-m-ipt {
    font-family: "Microsoft YaHei","微软雅黑","宋体",helvetica,"Hiragino Sans GB";
    margin: 0;
    outline: medium none;
    padding: 0;
}
.curs-login img {
    border: 0 none;
}
.curs-login label {
    cursor: default;
}
.curs-login * {
    box-sizing: content-box !important;
}
.curs-login input {
    background-color: #fcfdff;
    border: medium none;
    color: #333;
    font: 14px/18px "Microsoft YaHei","微软雅黑","宋体",helvetica,"Hiragino Sans GB";
    height: 18px;
    margin-left: 11px;
    outline: 0 none;
    width: 290px;
}
.curs-login input:-moz-placeholder {
    color: #cccccc;
    font-size: 14px;
    font-weight: normal;
}
.curs-login input::-moz-placeholder {
    color: #cccccc;
    font-size: 14px;
    font-weight: normal;
}
.curs-login .curs-input:focus {
    border: medium none;
    outline: medium none;
}
.curs-login .curs-input-lb {
    margin-left: 47px;
    width: 270px;
}
.curs-login a, .curs-login a:active, .curs-login a:hover, .curs-login a:visited {
    color: #538edb;
    font: 13px "Microsoft YaHei","微软雅黑","宋体",helvetica,"Hiragino Sans GB";
    outline: medium none;
    text-decoration: none;
}
.curs-login .clearboth {
    clear: both;
}
.curs-login .f-cb {
}
.curs-login .f-fr {
    float: right;
}
.curs-login .f-cb::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.curs-login .curs-u-logo-img1, .curs-u-logo-img2, .curs-u-close {
    background: rgba(0, 0, 0, 0) url("https://ursdoccdn.nosdn.127.net/yun/sprite_yun_20160907.png") no-repeat scroll -9999px -9999px;
    height: 21px;
    width: 21px;
}
.curs-login .f-dn {
    display: none !important;
}
.curs-login .f-ib {
    display: inline-block !important;
}
.curs-login .curs-lg-cover {
    background: #000 none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0.4;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.curs-login .curs-lg-bd {
    background-color: #fcfdff;
    border-radius: 2px;
    left: 50%;
    margin-left: -217px;
    margin-top: -215px;
    min-height: 331px;
    position: fixed;
    top: 50%;
    width: 434px;
    z-index: 10000;
}
.curs-login .curs-lg-inbd {
    background-color: #fcfdff;
    min-height: 331px;
    position: relative;
    width: 434px;
}
.curs-login .curs-m-toast {
    position: absolute;
    text-align: center;
    top: -20px;
    width: 100%;
}
.curs-login .curs-m-toast .curs-txt {
    background: #4c5359 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: auto;
    line-height: 18px;
    padding-bottom: 12px;
    padding-top: 14px;
    text-align: center;
    width: 315px;
}
.curs-login .curs-m-tlt {
    padding-top: 25px;
    position: relative;
}
.curs-login .curs-m-tlt .uc-tlt {
    color: #333;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}
.curs-login .curs-m-tlt .curs-u-close {
    background-position: -26px -41px;
    cursor: pointer;
    height: 13px;
    position: absolute;
    right: 13px;
    top: 13px;
    transition: transform 0.5s ease 0s;
    width: 13px;
}
.curs-login .curs-m-tlt .curs-u-close:hover {
    transform: rotate(180deg);
}
.curs-login .curs-m-bd {
    padding-top: 16px;
}
.curs-login .curs-m-form .curs-b-btn {
    height: 48px;
    margin: 0 auto;
    width: 350px;
}
.curs-login .curs-m-form .curs-m-ipt {
    margin-top: 19px;
}
.curs-login .curs-m-form .curs-m-ipt::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.curs-login .curs-m-form .curs-m-ipt .curs-u-logo {
    left: 15px;
    position: absolute;
    top: 14px;
}
.curs-login .curs-m-form .curs-m-ipt .curs-u-logo .curs-u-logo-img1 {
    background-position: 0 -3px;
}
.curs-login .curs-m-form .curs-m-ipt .curs-u-logo .curs-u-logo-img2 {
    background-position: -23px -3px;
}
.curs-login .curs-m-form .curs-m-ipt .curs-u-ipt {
    border: 1px solid #d8e1f0;
    height: 18px;
    line-height: 18px;
    margin: 0 auto;
    padding: 15px 0 17px;
    position: relative;
    width: 350px;
}
.curs-login .curs-m-form .curs-m-ipt .curs-u-ipt .placeholder {
    color: #999;
    font-size: 14px;
    left: 46px;
    position: absolute;
}
.curs-login .curs-m-form .curs-m-ipt .curs-u-ipt .placeholder1 {
    color: #999;
    font-size: 14px;
    left: 12px;
    position: absolute;
}
.curs-login .curs-m-form .curs-m-ipt .curs-u-ipt-error {
    border: 1px solid #ff5c57;
}
.curs-login .curs-m-form .curs-m-ipt .curs-u-ipt-active {
    border: 1px solid #58a2f7;
}
.curs-login .curs-m-form .curs-m-ipt .curs-u-tip {
    background: #fff none repeat scroll 0 0;
    position: absolute;
    right: 10px;
    top: 14px;
    z-index: 11;
}
.curs-login .curs-m-form .curs-m-ipt .curs-u-tip .curs-u-clear {
    background: rgba(0, 0, 0, 0) url("https://ursdoccdn.nosdn.127.net/yun/sprite_yun_20160907.png") no-repeat scroll 0 -27px;
    cursor: pointer;
    height: 20px;
    opacity: 0.7;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}
.curs-login .curs-m-form .curs-m-ipt .curs-u-tip .curs-u-clear:hover {
    opacity: 1;
}
.curs-login .curs-m-form .curs-m-ipt .curs-u-ipt-small {
    position: relative;
}
.curs-login .curs-m-form .curs-m-ipt .curs-u-ipt-small input {
    margin-left: 11px;
    width: 192px;
}
.curs-login .curs-m-form .curs-m-ipt .curs-u-ipt-small .curs-u-tip {
    right: 110px;
}
.curs-login .curs-m-form .curs-m-ipt .xx-curs-i-vcode {
    cursor: pointer;
    height: 36px;
    position: absolute;
    right: 8px;
    top: 6px;
    width: 97px;
}
.curs-login .curs-m-form .xx-curs-m-ipt .xx-curs-i-vcode img {
    height: 36px;
    width: 97px;
}
.curs-login .curs-m-form .curs-m-pop {
    height: 16px;
    margin: 20px auto;
    width: 350px;
}
.curs-login .curs-m-form .curs-m-pop .curs-i {
    background: rgba(0, 0, 0, 0) url("https://ursdoccdn.nosdn.127.net/yun/sprite_yun_20160907.png") no-repeat scroll -25px -25px;
    display: none;
    float: left;
    height: 17px;
    width: 16px;
}
.curs-login .curs-m-form .curs-m-pop .curs-u-info {
    color: #ff5c57;
    display: none;
    float: left;
    font-size: 12px;
    padding-left: 4px;
}
.curs-login .curs-m-form .curs-m-pop .curs-u-guide {
    color: #999;
    display: block;
    float: left;
    font-size: 12px;
    padding-left: 4px;
}
.curs-login .curs-m-form .curs-m-pop .curs-u-guidel {
    color: #4079b3;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 12px;
    padding-left: 4px;
}
.curs-login .curs-m-form .curs-m-btn {
    cursor: pointer;
}
.curs-login .curs-m-form .curs-m-btn .curs-b-btn {
    display: block;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
}
.curs-login .curs-m-form .curs-m-btn .curs-btn-blue:hover {
    background-color: #4079b3;
}
.curs-login .curs-m-form .curs-m-btn .curs-btn-blue {
    background-color: #5494db;
    color: #fff;
}
.curs-login .curs-m-form .curs-m-btn .curs-btn-blue-dis {
    background-color: #b5d6f7;
    color: #fff;
}
.curs-login .curs-m-form .curs-m-btn .curs-btn-blue-dis:hover {
    background-color: #b5d6f7;
    color: #fff;
}
.curs-login .curs-m-link {
    height: auto;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    width: 350px;
}
.curs-login .curs-m-link .curs-u-link {
    color: #999;
    font-size: 14px;
}
.curs-login .curs-m-link .curs-u-link {
    color: #538edb;
}
.curs-login .curs-m-link .curs-u-link .curs-lk-left {
    cursor: pointer;
    display: block;
    float: left;
}
.curs-login .curs-m-link .curs-u-link .curs-lk-right {
    cursor: pointer;
    display: block;
    float: right;
}
.curs-login .curs-m-link .curs-u-link::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.curs-login .curs-m-ft .curs-u-split {
    background-color: #f5f8fb;
    height: 1px;
    margin: 33px auto 0;
    width: 368px;
}
.curs-login .curs-m-form .xx-curs-m-check {
    color: #666;
    font-size: 12px;
    height: 45px;
    line-height: 1.14;
    margin: 0 auto;
    width: 350px;
}
.curs-login .curs-m-form .xx-curs-m-check::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.curs-login .curs-m-form .xx-curs-checkbox-cover, .curs-login .curs-m-form .xx-curs-checkbox-cover-r {
    display: inline-block;
}
.curs-login .curs-m-form .xx-curs-checkbox-cover {
    float: left;
}
.curs-login .curs-m-form .xx-curs-checkbox-cover-r {
    float: right;
}
.curs-login .curs-m-form .xx-curs-m-check .xx-curs-u-agr {
    cursor: pointer;
    height: 13px;
    opacity: 0;
    width: 13px;
}
.curs-login .curs-m-form .xx-curs-m-check input {
    margin-left: 0;
}
.curs-login .curs-m-form .xx-curs-m-check .xx-curs-u-checkbox, .curs-login .curs-m-form .xx-curs-m-check .xx-curs-u-tip {
    display: block;
    float: left;
}
.curs-login .curs-m-form .xx-curs-m-check .xx-curs-u-checkbox {
    background: #fff url("https://ursdoccdn.nosdn.127.net/yun/sprite_yunreg_20160907.png") no-repeat scroll -9999px -9999px;
    border: 1px solid #bec4cc;
    border-radius: 2px;
    height: 13px;
    margin-top: 2px;
    width: 13px;
}
.curs-login .curs-m-form .xx-curs-m-check .xx-curs-u-checkbox-selected {
    background-color: #4d92d6;
    background-position: -6px -84px;
    border: 1px solid #4d92d6;
    border-radius: 2px;
}
.curs-login .curs-m-form .xx-curs-m-check .xx-curs-u-tip {
    padding-left: 4px;
    padding-top: 3px;
}
.curs-login .curs-m-form .xx-curs-m-check .xx-curs-u-tip a {
    color: #538edb;
    font-size: 12px;
}
.curs-login .curs-info-m-bd {
    text-align: left;
}
.curs-login .curs-info-align, .curs-login .curs-info-bd {
    display: inline-block;
    vertical-align: middle;
}
.curs-login .curs-info-align {
    height: 100%;
    line-height: 100%;
    width: 1px;
}
.curs-login .curs-info-bd {
    background-color: #fcfdff;
    border-radius: 2px;
    position: relative;
    width: 500px;
}
.curs-login .curs-info-inbd {
    background-color: #fcfdff;
    position: relative;
    width: 434px;
}
.curs-login .curs-m-form .xx-curs-btn-getsms {
    background-color: #7dbbfa;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    position: absolute;
    right: 8px;
    text-align: center;
    top: 6px;
    width: 97px;
}
.curs-login .curs-m-form .xx-curs-btn-getsms-dis {
    background-color: #d4d7d9;
    color: #fff;
}
.curs-login .curs-m-form .xx-curs-btn-getsms:hover {
    background-color: #70abe0;
}
.curs-login .curs-m-form .xx-curs-btn-getsms-dis:hover {
    background-color: #d4d7d9;
}
.curs-login .curs-m-form .curs-u-mobile {
    color: #555;
    display: block;
    font-size: 14px;
    margin: 19px auto 0;
    text-align: left;
    width: 350px;
}
